@model BlowOut.Models.Instrament

@{
    ViewBag.Title = "Trombone";
}

<head>
    <link href="~/Content/Instruments.css" rel="stylesheet" />
</head>
<body>
    <h2>Trombone</h2>

    <div>
        <br />
        <img src="~/Content/Images/trumbone.jpg" width="350" height="400" />
        <br />
    </div>
    @using (Html.BeginForm("Trombone", "Rental", FormMethod.Post))
    {

        <br />
        <br />
        <div class="input">
            <p>Instrament Condition: @ViewBag.InstCond</p>
            <p>Instrament Rental Price Per Month: $@ViewBag.Price</p>
            <br />
            <div>
                <Input type="submit" value="New" name="new" class="buttons" />
                <input type="submit" value="Used" name="used" class="buttons" />
            </div>
        </div>
        <div class="adjust">
            <p>
                * Once you own the instrament a for 18 months you become the legal owner.
                If you return the instrament before 3 months of ownership you will be required to pay a $200 restocking fee.
                If you return the instrament after three months you forfeit any equity of the instrament.
            </p>
        </div>
    }

</body>


