<!--Jake Saylor, Corbin King, Michael Jenkins, Peter Maddsen-->
@{
    ViewBag.Title = "About";
}

<h2>About</h2>

<div class="jumbotron">
    <div class="container, cont">
        <h2>Company Background</h2>
    </div>
    <div class="container">
        <p>
            BlowOut Music Instrument Rentals LLC. was established in 2014 by Burton Guster (Gus for short) after moving to San Francisco with his best friend Shawn Spencer. Gus has always been music lover and opening
            this shop was one of his dreams since childhood. BlowOut's vision is open the world of music to everyone who wants to be a part of it. This is done by providing affordable instrument rentals to those who
            otherwise couldn't afford their own instruments.
        </p>
    </div>

    <hr class="my-4">

    <div class="container, cont">
        <h2>Managment</h2>
    </div>
    <div class="container">
        <p class="centers">Burton Guster - CEO</p>
        <p class="imgbox">
            <img class="center-fit" src="~/Content/Images/Gus.jpg" />
        </p>
    </div>
</div>