
@{
    ViewBag.Title = "Contact";
}

<h2>Contact</h2>

<div class="jumbotron">
    <h3>Please call Support at <b><u>801-555-1212</u></b>. Thank you!</h3>
    <br />
    <p>You can also email us at BlowOutInstrumentRentals@Gmail.com.</p>
</div>