@model IEnumerable<BlowOut.Models.Instruments>

<h2>Rentals</h2>

<div class="jumbotron">
    <p>
        @Html.ActionLink("Create New", "Create", "Instruments")
    </p>

    @foreach (var item in Model)
    {
        @Html.ActionLink(item.instrumentDesc, "Create", new { id = item.instrumentID })
        <br />
    }
</div>