
@{
    ViewBag.Title = "Email";
}

<head>
    <link href="~/Content/email.css" rel="stylesheet" />
</head>

<body>
    <div class="jumbotron">
        <br />
        <p class="email">@ViewBag.Message</p>
    </div>
</body>
