/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 33%;
    padding: 50px;
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}

img {
    height: 350px;
    width: 300px;
    border-radius: 20%;
    border: 3px solid black;
}

#rentalsImage {
    width: 100px;
    height: auto;
    border-radius: 5%;
}