@model BlowOut.Models.Gmail

@{
    ViewBag.Title = "Index";
}

<head>
    <link href="~/Content/EmailInfo.css" rel="stylesheet" />
</head>

<body>
    <div class="jumbotron">
        @using (Html.BeginForm("Index", "Gmail", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <center>
                <h1>Send us  an Email</h1>
                <hr />
                <table>
                    <tr>
                        <td class="tbs", style="width: 0px">
                            Name:
                        </td>
                        <td>@Html.TextBoxFor(model=>model.Name)</td>
                    </tr>
                    <tr>
                        <td class="tbs", valign="top">
                            Email:
                        </td>
                        <td>@Html.TextAreaFor(model => model.Email)</td>
                    </tr>
                    <tr>
                        <td>
                            <input class="buttons" type="submit" value="Send"/>
                        </td>
                    </tr>
                </table>
            </center>
        }
    </div>
    
</body>

